@font-face {
  font-family: "Outfit";
  src: local("OutfitRegular"), url("./fonts/Outfit.ttf") format("truetype");
  font-weight: normal;
}

@import url("./styles/custom.scss");

body {
  margin: 0;
  overflow: hidden;
  font-family: Outfit !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
